# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.csproj.user

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET
ScaffoldingReadMe.txt

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# JetBrains Rider
.idea/
*.sln.iml

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Application settings (uncomment if you want to ignore)
# appsettings.Development.json

# Firebase Admin SDK credentials (secret — never commit)
firebase-admin.json

# Announcements uploads
IntelliCampus.Web/wwwroot/announcements/
IntelliCampus.Web.csproj
/seed_output.txt
/seed_output2.txt
/seed_output3.txt
/schema.sql

server_err.txt
server_log.txt
/IntelliCampus.Web/appsettings.json
/IntelliCampus.Web/IntelliCampus.Web.csproj
/IntelliCmpus.Presistence/IntelliCampus.Presistence.csproj
